<!-- Loop over each object in the projects array -->
{{#each blogs as |blog|}}
  <a href="/blog/{{blog.id}}">
    <div
      class="row mb-4 blog border border-zinc-600 border-4 rounded-sm p-2 bg-slate-200"
    >
      <h2 class="text-2xl font-bold">
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{blog.title}}
      </h2>
      <p class="text-stone-500 mb-3">Created by
        {{blog.user.username}}
        on
        {{format_date blog.date_created}}</p>
      <div class="col-md-7">
        <p>
          {{blog.content}}
        </p>
      </div>
    </div>
  </a>
{{/each}}